.buttonGroup {
  display: flex;
}

a.button {
  position: relative;
  border-radius: 50px;
  text-decoration: none;
  border: none;
  padding: 15px 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 5px;
}

.turquoise {
  background-color: var(--clr-turquoise);
}

.gray {
  background-color: var(--clr-gray);
}
