/* Large Screens - 1400px and above */
.slide4 {
  display: flex;
  max-width: var(--max-width);
  margin: 5rem auto;
}

.left {
  width: 50%;
}

.right {
  width: 40%;
}

.slide4__container__text {
  padding: 6rem 1rem 1rem 3rem;
  margin: 6rem 0 0 5rem;
}

img.slide__container__image {
  max-width: 50%;
  position: absolute;
  right: 0;
}

.slide4__container__text__h2 {
  font: var(--font-section-slide-headings);
  color: var(--clr-black);
  margin-bottom: 40px;
}

.slide4__container__text__p {
  color: var(--clr-main-black);
  font: normal 400 1.875rem/2.8125rem Lato;
  margin: 40px 0;
}

span.strongColored {
  font-weight: 900;
  font-style: italic;
  color: var(--clr-turquoise);
}

span.emphasized {
  font-weight: 300;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .slide4 {
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }
  .slide4__container__text__h2 {
    font-size: 7vh;
  }
  .slide4__container__text__p {
    font-size: 3vh;
    line-height: 5vh;
  }

  .slide4__container__text {
    padding: 0 3vh 0 3 vh;
    margin: 3vh auto;
  }

  .buttonGroup {
    align-items: center;
    display: flex;
  }
}
