/* Imports */
/* bring in normalize.css styles */
@import-normalize;
/* brings in Playful Display font with 700 weight*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
/* brings in Lato font with 400 weight */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Font colors for headings */
  --clr-black: #16224a;
  --clr-blue: #047af5;
  /* Color for paragraphs */
  --clr-main-black: #4f4f4f;
  --clr-sec-black: #16224a;
  /* Colors for buttons */
  --clr-turquoise: #19e0da;
  --clr-gray: rgba(155, 155, 155, 0.67);
  --clr-white: #ffffff;

  /* Fonts */
  --font-section-main-headings: normal 700 5.625rem/5.625rem 'Playfair Display',
    serif;
  --font-section-slide-headings: normal 700 5rem/4.375rem 'Playfair Display',
    serif;

  /* General Variables */
  --spacing: -0.02em;
  --spacing-sec-para: 0.2em;
  --radius: 3.125rem;
  --max-width: 1440px;
}

body {
  margin: 0;
}

/* Partial Border - Landing Page & Slide-3 What we offer */
/* https://stackoverflow.com/questions/8835142/any-way-to-declare-a-size-partial-border-to-a-box (second answer) */
